@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.albumCarousel {
  animation: fadeIn linear 0.5s;
}
// Customize React Responsive Carousel
.carousel.carousel-slider,
.slider-wrapper.axis-horizontal,
.slider.animated {
  height: 100%;
}

.carousel.carousel-slider .control-arrow {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  bottom: unset;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  padding: 0;

  &.control-disabled {
    display: none;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.6);
  }

  &::before {
    position: relative;
    margin: 0;
    left: -1px;
  }

  &.control-next {
    &::before {
      left: unset;
      right: -2px;
    }
  }
}

.thumbs-wrapper.axis-vertical {
  position: fixed;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 60px;
  overflow: visible;
  margin: 0;

  .thumbs {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;

    &,
    &.animated {
      height: 60px;
    }

    .thumb {
      height: 100%;
      scale: 1;
      border: none;
      padding: 0;
      margin: 0;
      position: relative;
      flex-shrink: 0;

      &.selected {
        scale: 1.25;
        border-radius: 8px;
        z-index: 20;

        div {
          filter: unset;
        }
      }
    }
  }

  .control-arrow {
    display: none;
  }
}

.slider {
  height: 100%;
}

li.slide {
  display: flex;
  flex-direction: row !important;
  align-items: center;
}

@keyframes fadeIn {
  0% {
    @apply opacity-0;
  }
  100% {
    @apply opacity-100;
  }
}

.swiper-wrapper {
  transition-duration: 0.8s !important;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.mySwiper2 {
  height: calc(85%);
  width: 100%;
  max-width: 1400px;
  padding-bottom: 10px !important;
  
  .swiper-slide img {
    object-fit: contain;
  }
}

.mySwiper {
  height: calc(15%);
  // bottom: 10px;
  overflow: unset !important;
  width: 50%;
  left: 25%;

  // &::after {
  //   content: "";
  //   position: absolute;
  //   width: 150%;
  //   height: 100%;
  //   left: -50%;
  //   top: 0;
  //   background-color: rgba(0,0,0,0.6);
  // }
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;

}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
  background-color: unset;
}
